.container {
  margin-top: 25px;
}


.btn-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-form,
.log-form {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.home-page {
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.card-box {
  width: 250px;
  height: 200px;
  min-width: 200px;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr 1fr ;
  }
}

@media only screen and (max-width: 400px) {
  .card-container {
    grid-template-columns: 1fr ;
  }
}